<!DOCTYPE html>
<html>
<head>
    <title>Submission</title>
    <link rel="stylesheet" href="/submission-style.css">
</head>
<body>
    <div class="container">
        <h1>Form Submission</h1>
        
        <div class="detail">
            <label>Name:</label>
            <span><%= name %></span> 
        </div>
        
        <div class="detail">
            <label>Email:</label>
            <span><%= email %></span> 
        </div>

        <div class="detail">
            <label>Image:</label>
            <img src="/<%= imagePath %>" alt="Uploaded Image"> 
        </div>
    </div>
</body>
</html>